<header>
  <h1>
    Welcome eaglerockdude to shine. Your login email is: <%= current_user.email %>
  </h1>
  <h2>
    We are using Rails <%= Rails.version %>
  </h2>
</header>

<section>
  <p>
    Wecome to the future shine dashboard
  </p>
</section>